<div class="container">
    <div class="ro">
        <div class="col s12 m7">
            <div class="card ">
                <div class="card-content">
                    <center>
                        <h4>INICIAR SESION</h4>
                    </center>
                    <form method="POST" id="login">
                        <div class="input-field col s12">
                            <input id="usuario" name="usuario" class="validate" type="text" required>
                            <label for="usuario" class="error">Usuario</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" name="pass" class="validate" type="password" minlength="4" maxlength="20" required>
                            <label for="password" class="error">Contraseña</label>
                        </div>
                    </form>

                    <center>
                        <button onclick="loginUser()" id="btnLogn" class="waves-effect-light btn">
                        Iniciar Sesion</button>
                    </center>

                </div>
            </div>
        </div>
    </div>
</div>